In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load the raw data file
df = pd.read_excel("WDIEXCEL.xlsx", sheet_name = "Data")

In [3]:
df.sample(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
81922,Aruba,ABW,"Survey mean consumption or income per capita, ...",SI.SPR.PC40,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166051,France,FRA,Food production index (2004-2006 = 100),AG.PRD.FOOD.XD,NaN,68.31,78.550000,73.050000,73.720000,78.590000,...,1.025900e+02,1.006900e+02,100.140000,1.050700e+02,1.045800e+02,9.607000e+01,NaN,NaN,NaN,NaN
203191,Isle of Man,IMN,Child employment in manufacturing (% of econom...,SL.MNF.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339904,Syrian Arab Republic,SYR,Agricultural nitrous oxide emissions (% of total),EN.ATM.NOXE.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203131,Isle of Man,IMN,Arable land (hectares),AG.LND.ARBL.HA,NaN,25000.00,25000.000000,24700.000763,24200.000763,24399.999619,...,2.497000e+04,2.150000e+04,21899.999619,2.210000e+04,2.320000e+04,2.350000e+04,NaN,NaN,NaN,NaN
215806,Kiribati,KIR,"Services, value added per worker (constant 201...",NV.SRV.EMPL.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346401,Timor-Leste,TLS,"Mortality rate, under-5, male (per 1,000 live ...",SH.DYN.MORT.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350000e+01,6.110000e+01,58.800000,5.680000e+01,5.480000e+01,5.290000e+01,5.120000e+01,4.950000e+01,48.100000,NaN
142266,Cyprus,CYP,Proportion of time spent on unpaid domestic an...,SG.TIM.UWRK.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313398,Sierra Leone,SLE,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.341562e+01,3.473656e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353641,Turkey,TUR,"Net bilateral aid flows from DAC donors, Spain...",DC.DAC.ESPL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.820000e+06,1.540000e+06,-949999.988079,1.320000e+06,-1.404000e+07,2.884000e+07,4.869000e+07,1.308000e+07,NaN,NaN
15669,Europe & Central Asia (IDA & IBRD countries),TEC,"Start-up procedures to register a business, fe...",IC.REG.PROC.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,7.190476e+00,6.809524e+00,6.200000,6.077273e+00,5.713636e+00,5.590909e+00,5.454545e+00,5.136364e+00,5.090909,NaN
206535,Italy,ITA,Increase in poverty gap at $3.20 ($ 2011 PPP) ...,SH.UHC.NOP2.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127673,China,CHN,"Over-age students, primary, male (% of male en...",SE.PRM.OENR.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329044,St. Kitts and Nevis,KNA,"Lower secondary completion rate, total (% of r...",SE.SEC.CMPT.LO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.114494e+02,NaN,108.124252,1.078884e+02,1.181024e+02,1.111538e+02,NaN,NaN,NaN,NaN
315777,Sint Maarten (Dutch part),SXM,Female genital mutilation prevalence (%),SH.STA.FGMS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175716,Gibraltar,GIB,Adjusted savings: energy depletion (% of GNI),NY.ADJ.DNGY.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139307,Cuba,CUB,Poverty gap at $1.90 a day (2011 PPP) (%),SI.POV.GAPS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276236,Nigeria,NGA,"School enrollment, preprimary (% gross)",SE.PRE.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74946,Angola,AGO,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,13.664356,NaN,NaN,NaN,...,NaN,NaN,0.001974,8.440740e-03,1.384586e-02,3.888634e-02,6.511087e-02,3.368701e-01,NaN,NaN
329000,St. Kitts and Nevis,KNA,"Labor force with advanced education, female (%...",SL.TLF.ADVN.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#check to confirm there are no missing values in the indicator code column
#because we will filter countries based on this code
df["Indicator Code"].isnull().sum()

0

In [5]:
#These are the variable of interest that could have an impact on life expectancy

#Birth rate, crude (per 1,000 people)	SP.DYN.CBRT.IN
#Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)	SH.DTH.COMM.ZS
#Cause of death, by non-communicable diseases (% of total)	SH.DTH.NCOM.ZS
#Current health expenditure (% of GDP)	SH.XPD.CHEX.GD.ZS
#Death rate, crude (per 1,000 people)	SP.DYN.CDRT.IN
#Fertility rate, total (births per woman)	SP.DYN.TFRT.IN
#Hospital beds (per 1,000 people)	SH.MED.BEDS.ZS
#Immunization, DPT (% of children ages 12-23 months)	SH.IMM.IDPT
#Immunization, HepB3 (% of one-year-old children)	SH.IMM.HEPB
#Immunization, measles (% of children ages 12-23 months)	SH.IMM.MEAS
#Incidence of HIV, all (per 1,000 uninfected population)	SH.HIV.INCD.TL.P3
#Incidence of tuberculosis (per 100,000 people)	SH.TBS.INCD
#Intentional homicides (per 100,000 people)	VC.IHR.PSRC.P5
#Life expectancy at birth, total (years)	SP.DYN.LE00.IN
#Mortality caused by road traffic injury (per 100,000 people)	SH.STA.TRAF.P5
#Physicians (per 1,000 people)	SH.MED.PHYS.ZS
#Population density (people per sq. km of land area)	EN.POP.DNST
#Prevalence of overweight, weight for height (% of children under 5)	SH.STA.OWGH.ZS
#Smoking prevalence, total (ages 15+)	SH.PRV.SMOK
#Suicide mortality rate (per 100,000 population)	SH.STA.SUIC.P5
#Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)	SH.ALC.PCAP.LI

In [6]:
#filter data frame to isolate rows with each variables of interest for every country in the dataframe

crude_birth_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CBRT.IN']
death_comm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.COMM.ZS']
death_noncomm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.NCOM.ZS']
health_expenditure = df.loc[df['Indicator Code'] == 'SH.XPD.CHEX.GD.ZS']
crude_death_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CDRT.IN']
fertility_rate = df.loc[df['Indicator Code'] == 'SP.DYN.TFRT.IN']
hospital_bed = df.loc[df['Indicator Code'] == 'SH.MED.BEDS.ZS']
DPT_immu = df.loc[df['Indicator Code'] == 'SH.IMM.IDPT']
HepB3_immu = df.loc[df['Indicator Code'] == 'SH.IMM.HEPB']
measles_immu = df.loc[df['Indicator Code'] == 'SH.IMM.MEAS']
HIV_incidence = df.loc[df['Indicator Code'] == 'SH.HIV.INCD.TL.P3']
TB_incidence = df.loc[df['Indicator Code'] == 'SH.TBS.INCD']
homicides_per100000 = df.loc[df['Indicator Code'] == 'VC.IHR.PSRC.P5']
life_expectancy = df.loc[df['Indicator Code'] == 'SP.DYN.LE00.IN']
road_traffic_mortality = df.loc[df['Indicator Code'] == 'SH.STA.TRAF.P5']
physicians_per1000_people = df.loc[df['Indicator Code'] == 'SH.MED.PHYS.ZS']
population_density = df.loc[df['Indicator Code'] == 'EN.POP.DNST']
overweight_prevalence = df.loc[df['Indicator Code'] == 'SH.STA.OWGH.ZS']
smoking_prevalence = df.loc[df['Indicator Code'] == 'SH.PRV.SMOK']
suicide_per1000000 = df.loc[df['Indicator Code'] == 'SH.STA.SUIC.P5']
alcohol_consumption_per_capita = df.loc[df['Indicator Code'] == 'SH.ALC.PCAP.LI']

In [7]:
#verify that each of the variable are same size
crude_birth_rate.shape, crude_death_rate.shape, fertility_rate.shape, life_expectancy.shape,suicide_per1000000.shape

((264, 65), (264, 65), (264, 65), (264, 65), (264, 65))

In [8]:
#verify that each of the variable are same size
overweight_prevalence.shape, homicides_per100000.shape, death_comm_disease.shape

((264, 65), (264, 65), (264, 65))

In [9]:
#create a new dataframe by concatenating all variables of interest
frames = [crude_birth_rate, death_comm_disease, death_noncomm_disease, health_expenditure, crude_death_rate, fertility_rate, hospital_bed, DPT_immu, HepB3_immu, measles_immu, HIV_incidence, TB_incidence, homicides_per100000, life_expectancy, road_traffic_mortality, physicians_per1000_people, population_density, overweight_prevalence, smoking_prevalence, suicide_per1000000, alcohol_consumption_per_capita]
df_with_selected_variables = pd.concat(frames)

In [10]:
df_with_selected_variables.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
32943,Latin America & Caribbean (excluding high income),LAC,"Smoking prevalence, total (ages 15+)",SH.PRV.SMOK,NaN,NaN,NaN,NaN,NaN,NaN,...,16.243938,15.628668,15.109763,14.56806,14.02917,13.5776,NaN,NaN,NaN,NaN
198062,Indonesia,IDN,Mortality caused by road traffic injury (per 1...,SH.STA.TRAF.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.300000,NaN,NaN,12.2000,NaN,NaN,NaN,NaN
335343,Sudan,SDN,"Smoking prevalence, total (ages 15+)",SH.PRV.SMOK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375738,West Bank and Gaza,PSE,Total alcohol consumption per capita (liters o...,SH.ALC.PCAP.LI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212943,Kazakhstan,KAZ,"Smoking prevalence, total (ages 15+)",SH.PRV.SMOK,NaN,NaN,NaN,NaN,NaN,NaN,...,26.400000,25.800000,25.400000,25.00000,24.50000,24.0000,NaN,NaN,NaN,NaN

In [11]:
#sort the dataframe
df_with_selected_variables = df_with_selected_variables.sort_values(by=['Country Code'])

In [12]:
#drop columns representing dates from 1960 to 1999 
df_with_selected_variables = df_with_selected_variables.drop(columns=['1960', '1961', '1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972', '1973', '1974', '1975','1976', '1977','1978', '1979','1980', '1981','1982', '1983', '1984', '1985','1986', '1987','1988', '1989','1990', '1991','1992', '1993', '1994', '1995','1996', '1997','1998', '1999','1990'])

In [13]:
#reset the df index
df_with_selected_variables = df_with_selected_variables.reset_index(drop=True)

In [14]:
#verify reset index
df_with_selected_variables.head(4)

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Incidence of HIV, all (per 1,000 uninfected po...",SH.HIV.INCD.TL.P3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aruba,ABW,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,6.971,7.022,7.084,7.154,7.233,7.32,...,8.061,8.205,8.347,8.488,8.627,8.765,8.907,9.053,NaN,NaN
2,Aruba,ABW,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,Mortality caused by road traffic injury (per 1...,SH.STA.TRAF.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#check whether the "Country Name" column has only countrie name.
df["Country Name"].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

"Country Name" column seems to have grouped region names in addition to country names. So, lets remove all the rows which have broader region in the dataset.

#remove rows with non country values. These inlucde 
'Arab World', 
'Central Europe and the Baltics', 
'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia','Euro area',
'European Union', 'Fragile and conflict affected situations',
'High income', 
'Heavily indebted poor countries (HIPC)', 
'IBRD only', 'IDA & IBRD total', 'IDA total',
'IDA blend', 'IDA only', 
'Not classified', 
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean',
'Least developed countries: UN classification', 'Low income',
'Lower middle income',
'Low & middle income', 'Late-demographic dividend',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)', 
'North America', 
'OECD members',
'Other small states', 
'Pre-demographic dividend',
'West Bank and Gaza', 'Pacific island small states',
'South Asia',
'Sub-Saharan Africa (excluding high income)', 
'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)', 
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 
'Upper middle income',

In [16]:
#create a list with all the row values that needs to be removed
row_values_to_remove = ['Arab World', 
'Central Europe and the Baltics', 
'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia','Euro area',
'European Union', 'Fragile and conflict affected situations',
'High income', 
'Heavily indebted poor countries (HIPC)', 
'IBRD only', 'IDA & IBRD total', 'IDA total',
'IDA blend', 'IDA only', 
'Not classified', 
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean',
'Least developed countries: UN classification', 'Low income',
'Lower middle income',
'Low & middle income', 'Late-demographic dividend',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)', 
'North America', 
'OECD members',
'Other small states', 
'Pre-demographic dividend',
'West Bank and Gaza', 'Pacific island small states',
'South Asia',
'Sub-Saharan Africa (excluding high income)', 
'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)', 
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 
'Upper middle income']

In [17]:
#create a for loop to iterate over the length of the list and remove rows with each value from list in each iteratation
for i in range(len(row_values_to_remove)):
    df_with_selected_variables = df_with_selected_variables[df_with_selected_variables["Country Name"] != row_values_to_remove[i]]

In [18]:
#verify the structure of final dataframe
df_with_selected_variables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4599 entries, 0 to 5543
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    4599 non-null   object
 1   Country Code    4599 non-null   object
 2   Indicator Name  4599 non-null   object
 3   Indicator Code  4599 non-null   object
 4   2000            3101 non-null   float64
 5   2001            2376 non-null   float64
 6   2002            2417 non-null   float64
 7   2003            2431 non-null   float64
 8   2004            2497 non-null   float64
 9   2005            2855 non-null   float64
 10  2006            2543 non-null   float64
 11  2007            2529 non-null   float64
 12  2008            2550 non-null   float64
 13  2009            2566 non-null   float64
 14  2010            3526 non-null   float64
 15  2011            2711 non-null   float64
 16  2012            2709 non-null   float64
 17  2013            2846 non-null   float64
 18  2014            2622 non-null   float64
 19  2015            3127 non-null   float64
 20  2016            3472 non-null   float64
 21  2017            2370 non-null   float64
 22  2018            2110 non-null   float64
 23  2019            707 non-null    float64
 24  2020            0 non-null      float64
dtypes: float64(21), object(4)
memory usage: 934.2+ KB

In [19]:
#save the cleaned dataframe for EDA
df_with_selected_variables.to_csv("cleaned_df.csv")