In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load the raw data file
df = pd.read_excel("WDIEXCEL.xlsx", sheet_name = "Data")

In [3]:
#sample the data
df.sample(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
254573,Moldova,MDA,Procedures to build a warehouse (number),IC.WRH.PROC,NaN,NaN,NaN,NaN,NaN,NaN,...,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.100000e+01,NaN
72996,American Samoa,ASM,"PM2.5 pollution, population exposed to levels ...",EN.ATM.PM25.MC.T3.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.555556e+01,2.222222e+01,1.111111e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
113155,Burundi,BDI,"Net bilateral aid flows from DAC donors, New Z...",DC.DAC.NZLL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317336,Slovak Republic,SVK,"Gross fixed capital formation, private sector ...",NE.GDI.FPRV.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339828,Switzerland,CHE,Women making their own informed decisions rega...,SG.DMK.SRCR.FN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293140,Poland,POL,"Net bilateral aid flows from DAC donors, Czech...",DC.DAC.CZEL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12770,Europe & Central Asia,ECS,Share of tariff lines with international peaks...,TM.TAX.MANF.IP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48553,Not classified,INX,"Population ages 55-59, female (% of female pop...",SP.POP.5559.FE.5Y,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223606,Lao PDR,LAO,External balance on goods and services (curren...,NE.RSB.GNFS.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7.736958e+12,-1.830645e+13,-2.049405e+13,-1.874361e+13,-2.098085e+13,-1.121241e+13,NaN,NaN,NaN,NaN
158149,Estonia,EST,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219552,Kosovo,XKX,"Labor force participation rate, female (% of f...",SL.TLF.ACTI.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349584,Tonga,TON,"Prevalence of severe wasting, weight for heigh...",SH.SVR.WAST.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346722,Timor-Leste,TLS,"Primary education, teachers",SE.PRM.TCHR,NaN,NaN,NaN,NaN,NaN,NaN,...,7.714000e+03,NaN,NaN,NaN,NaN,NaN,8.057724e+03,7.898258e+03,7.749491e+03,NaN
250989,Mexico,MEX,Financial intermediary services indirectly Mea...,NV.FSM.TOTL.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45713,Middle income,MIC,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285549,Panama,PAN,Financial intermediary services indirectly Mea...,NV.FSM.TOTL.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210498,Jordan,JOR,Coverage of unemployment benefits and ALMP in ...,per_lm_alllm.cov_q3_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88649,Bahrain,BHR,Multidimensional poverty intensity (average sh...,SI.POV.MDIM.IT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375385,West Bank and Gaza,PSE,"Personal remittances, paid (current US$)",BM.TRF.PWKR.CD.DT,NaN,NaN,NaN,NaN,NaN,NaN,...,4.791511e+07,4.810983e+07,5.264211e+07,3.612891e+07,3.039835e+07,3.039300e+07,2.746220e+07,2.234733e+07,1.557557e+07,NaN
186706,Guinea-Bissau,GNB,Other taxes (current LCU),GC.TAX.OTHR.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.709107e+09,NaN,NaN,NaN

In [4]:
#check to confirm there are no missing values in the indicator code column
#because we will filter countries based on this code
df.isnull().sum()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960              342527
                   ...
2016              172632
2017              188422
2018              207180
2019              271505
2020              366138
Length: 65, dtype: int64

In [5]:
#These are the variable of interest that could have an impact on life expectancy

#Birth rate, crude (per 1,000 people)	SP.DYN.CBRT.IN
#Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)	SH.DTH.COMM.ZS
#Cause of death, by non-communicable diseases (% of total)	SH.DTH.NCOM.ZS
#Current health expenditure (% of GDP)	SH.XPD.CHEX.GD.ZS
#Death rate, crude (per 1,000 people)	SP.DYN.CDRT.IN
#Fertility rate, total (births per woman)	SP.DYN.TFRT.IN
#Hospital beds (per 1,000 people)	SH.MED.BEDS.ZS
#Immunization, DPT (% of children ages 12-23 months)	SH.IMM.IDPT
#Immunization, HepB3 (% of one-year-old children)	SH.IMM.HEPB
#Immunization, measles (% of children ages 12-23 months)	SH.IMM.MEAS
#Incidence of HIV, all (per 1,000 uninfected population)	SH.HIV.INCD.TL.P3
#Incidence of tuberculosis (per 100,000 people)	SH.TBS.INCD
#Intentional homicides (per 100,000 people)	VC.IHR.PSRC.P5
#Life expectancy at birth, total (years)	SP.DYN.LE00.IN
#Mortality caused by road traffic injury (per 100,000 people)	SH.STA.TRAF.P5
#Physicians (per 1,000 people)	SH.MED.PHYS.ZS
#Population density (people per sq. km of land area)	EN.POP.DNST
#Prevalence of overweight, weight for height (% of children under 5)	SH.STA.OWGH.ZS
#Smoking prevalence, total (ages 15+)	SH.PRV.SMOK
#Suicide mortality rate (per 100,000 population)	SH.STA.SUIC.P5
#Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)	SH.ALC.PCAP.LI

In [6]:
#drop all date columns except 2018 because we have data till 2018 only although 2019 and 2020 columns also exist
#there are no data for 2019 and 2020
df_2018 = df.drop(columns=['1960', '1961', '1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972', '1973', '1974', '1975','1976', '1977','1978', '1979','1980', '1981','1982', '1983', '1984', '1985','1986', '1987','1988', '1989','1990', '1991','1992', '1993', '1994', '1995','1996', '1997','1998', '1999','1990','1991','1992','1993', '1994', '1995','1996', '1997','1998', '1999','2000', '2001','2002','2003', '2004', '2005', '2006','2007', '2008','2009', '2010','2011', '2012','2013', '2014', '2015', '2016','2017', '2019', '2020'])

In [7]:
#check whether the "Country Name" column has only countrie name.
df_2018["Country Name"].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [8]:
#create a list with all the row values that needs to be removed. We are removing the rows that have data about regions of
#the world because we are only interested in countries
row_values_to_remove = ['Arab World', 
'Caribbean small states',                        
'Central Europe and the Baltics', 
'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia','Euro area',
'European Union', 'Fragile and conflict affected situations',
'High income', 
'Heavily indebted poor countries (HIPC)', 
'IBRD only', 'IDA & IBRD total', 'IDA total',
'IDA blend', 'IDA only', 
'Not classified', 
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean',
'Least developed countries: UN classification', 'Low income',
'Lower middle income',
'Low & middle income', 'Late-demographic dividend',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)', 
'North America', 
'OECD members',
'Other small states', 
'Pre-demographic dividend',
'West Bank and Gaza', 'Pacific island small states',
'South Asia',
'Sub-Saharan Africa (excluding high income)', 
'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)', 
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 
'Upper middle income']

In [9]:
#create a for loop to iterate over the length of the list and remove rows with each value from list in each iteratation
for i in range(len(row_values_to_remove)):
    df_2018 = df_2018[df_2018["Country Name"] != row_values_to_remove[i]]

In [10]:
#extract values of variables of interest into separate series 
crude_birth_rate = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.CBRT.IN','2018'].reset_index(drop = True)
death_comm_disease = df_2018.loc[df_2018['Indicator Code'] == 'SH.DTH.COMM.ZS','2018'].reset_index(drop = True)
death_noncomm_disease = df_2018.loc[df_2018['Indicator Code'] == 'SH.DTH.NCOM.ZS','2018'].reset_index(drop = True)
health_expenditure = df_2018.loc[df_2018['Indicator Code'] == 'SH.XPD.CHEX.GD.ZS','2018'].reset_index(drop = True)
crude_death_rate = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.CDRT.IN','2018'].reset_index(drop = True)
fertility_rate = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.TFRT.IN','2018'].reset_index(drop = True)
hospital_bed = df_2018.loc[df_2018['Indicator Code'] == 'SH.MED.BEDS.ZS','2018'].reset_index(drop = True)
DPT_immu = df_2018.loc[df_2018['Indicator Code'] == 'SH.IMM.IDPT','2018'].reset_index(drop = True)
HepB3_immu = df_2018.loc[df_2018['Indicator Code'] == 'SH.IMM.HEPB','2018'].reset_index(drop = True)
measles_immu = df_2018.loc[df_2018['Indicator Code'] == 'SH.IMM.MEAS','2018'].reset_index(drop = True)
HIV_incidence = df_2018.loc[df_2018['Indicator Code'] == 'SH.HIV.INCD.TL.P3','2018'].reset_index(drop = True)
TB_incidence = df_2018.loc[df_2018['Indicator Code'] == 'SH.TBS.INCD','2018'].reset_index(drop = True)
homicides_per100000 = df_2018.loc[df_2018['Indicator Code'] == 'VC.IHR.PSRC.P5','2018'].reset_index(drop = True)
life_expectancy = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.LE00.IN','2018'].reset_index(drop = True)
road_traffic_mortality = df_2018.loc[df_2018['Indicator Code'] == 'SH.STA.TRAF.P5','2018'].reset_index(drop = True)
physicians_per1000_people = df_2018.loc[df_2018['Indicator Code'] == 'SH.MED.PHYS.ZS','2018'].reset_index(drop = True)
population_density = df_2018.loc[df_2018['Indicator Code'] == 'EN.POP.DNST','2018'].reset_index(drop = True)
overweight_prevalence = df_2018.loc[df_2018['Indicator Code'] == 'SH.STA.OWGH.ZS','2018'].reset_index(drop = True)
smoking_prevalence = df_2018.loc[df_2018['Indicator Code'] == 'SH.PRV.SMOK','2018'].reset_index(drop = True)
suicide_per1000000 = df_2018.loc[df_2018['Indicator Code'] == 'SH.STA.SUIC.P5','2018'].reset_index(drop = True)
alcohol_consumption_per_capita = df_2018.loc[df_2018['Indicator Code'] == 'SH.ALC.PCAP.LI','2018'].reset_index(drop = True)

auth_series = pd.Series(author) 
article_series = pd.Series(article) 
  
frame = { 'Author': auth_series, 'Article': article_series } 
  
result = pd.DataFrame(frame) 
  
print(result)

In [11]:
#reassign each variable into a series so we can use them to create our dataframe
crude_birth_rate = pd.Series(crude_birth_rate)
death_comm_disease = pd.Series(death_comm_disease)
death_noncomm_disease = pd.Series(death_noncomm_disease)
health_expenditure = pd.Series(health_expenditure)
crude_death_rate = pd.Series(crude_death_rate)
fertility_rate = pd.Series(fertility_rate)
hospital_bed = pd.Series(hospital_bed)
DPT_immu = pd.Series(DPT_immu)
HepB3_immu = pd.Series(HepB3_immu)
measles_immu = pd.Series(measles_immu)
HIV_incidence = pd.Series(HIV_incidence)
TB_incidence = pd.Series(TB_incidence)
homicides_per100000 = pd.Series(homicides_per100000)
life_expectancy = pd.Series(life_expectancy)
road_traffic_mortality = pd.Series(road_traffic_mortality)
physicians_per1000_people = pd.Series(physicians_per1000_people)
population_density = pd.Series(population_density)
overweight_prevalence = pd.Series(overweight_prevalence)
smoking_prevalence = pd.Series(smoking_prevalence)
suicide_per1000000 = pd.Series(suicide_per1000000)
alcohol_consumption_per_capita = pd.Series(alcohol_consumption_per_capita)

crude_birth_rate 
death_comm_disease  
death_noncomm_disease
health_expenditure 
crude_death_rate  
fertility_rate  
hospital_bed  
DPT_immu  
HepB3_immu  
measles_immu  
HIV_incidence  
TB_incidence  
homicides_per100000  
life_expectancy  
road_traffic_mortality  
physicians_per1000_people  
population_density  
overweight_prevalence

In [12]:
#veiry each series is same length
#crude_birth_rate.shape,death_comm_disease.shape,health_expenditure.shape,crude_death_rate.shape,fertility_rate.shape,hospital_bed.shape,DPT_immu.shape, HepB3_immu.shape,measles_immu.shape,HIV_incidence.shape,TB_incidence.shape,homicides_per100000.shape,life_expectancy.shape,road_traffic_mortality.shape, physicians_per1000_people.shape,population_density.shape,overweight_prevalence.shape,smoking_prevalence.shape,suicide_per1000000.shape,alcohol_consumption_per_capita.shape

In [13]:
#create a variable to store all variables to create a dataframe
frame = {'Crude_birth_rate':crude_birth_rate, 
         'Death_comm_disease':death_comm_disease,  
         'Death_noncomm_disease':death_noncomm_disease,
         'Health_expenditure':health_expenditure,
         'Crude_death_rate':crude_death_rate,
         'Fertility_rate':fertility_rate,
         'Hospital_bed':hospital_bed,  
         'DPT_immu':DPT_immu,  
         'HepB3_immu':HepB3_immu,  
         'Measles_immu':measles_immu,
         'HIV_incidence':HIV_incidence,  
         'TB_incidence':TB_incidence,  
         'Homicides_per100000':homicides_per100000,  
         'Life_expectancy':life_expectancy,  
         'Road_traffic_mortality':road_traffic_mortality,  
         'Physicians_per1000_people':physicians_per1000_people,  
         'Population_density':population_density,  
         'Overweight_prevalence':overweight_prevalence,  
         'Smoking_prevalence':smoking_prevalence,  
         'Suicide_per1000000':suicide_per1000000,  
         'Alcohol_consumption_per_capita':alcohol_consumption_per_capita
        }

In [14]:
#create the dataframe
result = pd.DataFrame(frame).reset_index(drop = True)

In [15]:
#check the dataframe
result.head(10)
result.shape

(218, 21)

#filter data frame to isolate rows with each variables of interest for every country in the dataframe

crude_birth_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CBRT.IN']
death_comm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.COMM.ZS']
death_noncomm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.NCOM.ZS']
health_expenditure = df.loc[df['Indicator Code'] == 'SH.XPD.CHEX.GD.ZS']
crude_death_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CDRT.IN']
fertility_rate = df.loc[df['Indicator Code'] == 'SP.DYN.TFRT.IN']
hospital_bed = df.loc[df['Indicator Code'] == 'SH.MED.BEDS.ZS']
DPT_immu = df.loc[df['Indicator Code'] == 'SH.IMM.IDPT']
HepB3_immu = df.loc[df['Indicator Code'] == 'SH.IMM.HEPB']
measles_immu = df.loc[df['Indicator Code'] == 'SH.IMM.MEAS']
HIV_incidence = df.loc[df['Indicator Code'] == 'SH.HIV.INCD.TL.P3']
TB_incidence = df.loc[df['Indicator Code'] == 'SH.TBS.INCD']
homicides_per100000 = df.loc[df['Indicator Code'] == 'VC.IHR.PSRC.P5']
life_expectancy = df.loc[df['Indicator Code'] == 'SP.DYN.LE00.IN']
road_traffic_mortality = df.loc[df['Indicator Code'] == 'SH.STA.TRAF.P5']
physicians_per1000_people = df.loc[df['Indicator Code'] == 'SH.MED.PHYS.ZS']
population_density = df.loc[df['Indicator Code'] == 'EN.POP.DNST']
overweight_prevalence = df.loc[df['Indicator Code'] == 'SH.STA.OWGH.ZS']
smoking_prevalence = df.loc[df['Indicator Code'] == 'SH.PRV.SMOK']
suicide_per1000000 = df.loc[df['Indicator Code'] == 'SH.STA.SUIC.P5']
alcohol_consumption_per_capita = df.loc[df['Indicator Code'] == 'SH.ALC.PCAP.LI']

"Country Name" column seems to have grouped region names in addition to country names. So, lets remove all the rows which have broader region in the dataset.

#remove rows with non country values. These inlucde 
'Arab World', 
'Central Europe and the Baltics', 
'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia','Euro area',
'European Union', 'Fragile and conflict affected situations',
'High income', 
'Heavily indebted poor countries (HIPC)', 
'IBRD only', 'IDA & IBRD total', 'IDA total',
'IDA blend', 'IDA only', 
'Not classified', 
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean',
'Least developed countries: UN classification', 'Low income',
'Lower middle income',
'Low & middle income', 'Late-demographic dividend',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)', 
'North America', 
'OECD members',
'Other small states', 
'Pre-demographic dividend',
'West Bank and Gaza', 'Pacific island small states',
'South Asia',
'Sub-Saharan Africa (excluding high income)', 
'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)', 
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 
'Upper middle income',

In [17]:
result.head(5)

,Crude_birth_rate,Death_comm_disease,Death_noncomm_disease,Health_expenditure,Crude_death_rate,Fertility_rate,Hospital_bed,DPT_immu,HepB3_immu,Measles_immu,...,TB_incidence,Homicides_per100000,Life_expectancy,Road_traffic_mortality,Physicians_per1000_people,Population_density,Overweight_prevalence,Smoking_prevalence,Suicide_per1000000,Alcohol_consumption_per_capita
0,17.995227,NaN,NaN,NaN,7.195875,2.335178,NaN,87.045374,86.436571,87.988729,...,148.0,NaN,71.854614,NaN,NaN,71.864149,6.2,NaN,NaN,NaN
1,9.828199,NaN,NaN,NaN,9.553920,1.551680,NaN,93.800214,89.719856,93.554442,...,NaN,NaN,80.659892,NaN,NaN,35.249830,NaN,NaN,NaN,NaN
2,18.174855,NaN,NaN,NaN,7.528826,2.414975,NaN,85.603028,84.737825,85.634452,...,132.0,5.779750,72.563274,NaN,NaN,59.617881,5.6,NaN,NaN,NaN
3,32.487000,NaN,NaN,NaN,6.423000,4.473000,NaN,66.000000,66.000000,64.000000,...,189.0,6.655561,64.486000,NaN,NaN,56.937760,4.1,NaN,NaN,NaN
4,11.780000,NaN,NaN,NaN,7.898000,1.617000,NaN,99.000000,99.000000,94.000000,...,18.0,2.289492,78.458000,NaN,NaN,104.612263,NaN,NaN,NaN,NaN

In [19]:
#drop empty columns
result = result.drop(columns=['Death_comm_disease', 'Death_noncomm_disease','Health_expenditure','Hospital_bed','Road_traffic_mortality','Smoking_prevalence', 'Suicide_per1000000','Alcohol_consumption_per_capita'])

In [20]:
result.head()

,Crude_birth_rate,Crude_death_rate,Fertility_rate,DPT_immu,HepB3_immu,Measles_immu,HIV_incidence,TB_incidence,Homicides_per100000,Life_expectancy,Physicians_per1000_people,Population_density,Overweight_prevalence
0,17.995227,7.195875,2.335178,87.045374,86.436571,87.988729,NaN,148.0,NaN,71.854614,NaN,71.864149,6.2
1,9.828199,9.553920,1.551680,93.800214,89.719856,93.554442,NaN,NaN,NaN,80.659892,NaN,35.249830,NaN
2,18.174855,7.528826,2.414975,85.603028,84.737825,85.634452,0.23,132.0,5.779750,72.563274,NaN,59.617881,5.6
3,32.487000,6.423000,4.473000,66.000000,66.000000,64.000000,0.04,189.0,6.655561,64.486000,NaN,56.937760,4.1
4,11.780000,7.898000,1.617000,99.000000,99.000000,94.000000,0.03,18.0,2.289492,78.458000,NaN,104.612263,NaN

In [23]:
result.isna().sum()

Crude_birth_rate              12
Crude_death_rate              12
Fertility_rate                17
DPT_immu                      24
HepB3_immu                    32
Measles_immu                  24
HIV_incidence                100
TB_incidence                   9
Homicides_per100000          128
Life_expectancy               19
Physicians_per1000_people    157
Population_density             8
Overweight_prevalence        191
dtype: int64

In [29]:
result['Crude_birth_rate'] = result['Crude_birth_rate'].fillna((result['Crude_birth_rate'].mean()))
result['Crude_death_rate'] = result['Crude_death_rate'].fillna((result['Crude_death_rate'].mean()))
result['Fertility_rate'] = result['Fertility_rate'].fillna((result['Fertility_rate'].mean()))
result['DPT_immu'] = result['DPT_immu'].fillna((result['DPT_immu'].mean()))
result['HepB3_immu'] = result['HepB3_immu'].fillna((result['HepB3_immu'].mean()))
result['Measles_immu'] = result['Measles_immu'].fillna((result['Measles_immu'].mean()))
result['HIV_incidence'] = result['HIV_incidence'].fillna((result['HIV_incidence'].mean()))
result['TB_incidence'] = result['TB_incidence'].fillna((result['TB_incidence'].mean()))
result['Homicides_per100000'] = result['Homicides_per100000'].fillna((result['Homicides_per100000'].mean()))
result['Life_expectancy'] = result['Life_expectancy'].fillna((result['Life_expectancy'].mean()))
result['Physicians_per1000_people'] = result['Physicians_per1000_people'].fillna((result['Physicians_per1000_people'].mean()))
result['Population_density'] = result['Population_density'].fillna((result['Population_density'].mean()))
result['Overweight_prevalence'] = result['Overweight_prevalence'].fillna((result['Overweight_prevalence'].mean()))

In [30]:
result.head()

,Crude_birth_rate,Crude_death_rate,Fertility_rate,DPT_immu,HepB3_immu,Measles_immu,HIV_incidence,TB_incidence,Homicides_per100000,Life_expectancy,Physicians_per1000_people,Population_density,Overweight_prevalence
0,17.995227,7.195875,2.335178,87.045374,86.436571,87.988729,0.61822,148.000000,6.405792,71.854614,1.933048,71.864149,6.200000
1,9.828199,9.553920,1.551680,93.800214,89.719856,93.554442,0.61822,102.948086,6.405792,80.659892,1.933048,35.249830,5.077778
2,18.174855,7.528826,2.414975,85.603028,84.737825,85.634452,0.23000,132.000000,5.779750,72.563274,1.933048,59.617881,5.600000
3,32.487000,6.423000,4.473000,66.000000,66.000000,64.000000,0.04000,189.000000,6.655561,64.486000,1.933048,56.937760,4.100000
4,11.780000,7.898000,1.617000,99.000000,99.000000,94.000000,0.03000,18.000000,2.289492,78.458000,1.933048,104.612263,5.077778

In [31]:
result.isna().sum()

Crude_birth_rate             0
Crude_death_rate             0
Fertility_rate               0
DPT_immu                     0
HepB3_immu                   0
Measles_immu                 0
HIV_incidence                0
TB_incidence                 0
Homicides_per100000          0
Life_expectancy              0
Physicians_per1000_people    0
Population_density           0
Overweight_prevalence        0
dtype: int64

In [34]:
#save the cleaned dataframe for EDA
result.to_csv("demographics_data.csv")