In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
demographics_df = pd.read_csv("demographics_data.csv")

In [3]:
demographics_df.head(5)

,Unnamed: 0,Crude_birth_rate,Death_comm_disease,Death_noncomm_disease,Health_expenditure,Crude_death_rate,Fertility_rate,Hospital_bed,DPT_immu,HepB3_immu,...,TB_incidence,Homicides_per100000,Life_expectancy,Road_traffic_mortality,Physicians_per1000_people,Population_density,Overweight_prevalence,Smoking_prevalence,Suicide_per1000000,Alcohol_consumption_per_capita
0,0,17.995227,NaN,NaN,NaN,7.195875,2.335178,NaN,87.045374,86.436571,...,148.0,NaN,71.854614,NaN,NaN,71.864149,6.2,NaN,NaN,NaN
1,1,9.828199,NaN,NaN,NaN,9.553920,1.551680,NaN,93.800214,89.719856,...,NaN,NaN,80.659892,NaN,NaN,35.249830,NaN,NaN,NaN,NaN
2,2,18.174855,NaN,NaN,NaN,7.528826,2.414975,NaN,85.603028,84.737825,...,132.0,5.779750,72.563274,NaN,NaN,59.617881,5.6,NaN,NaN,NaN
3,3,32.487000,NaN,NaN,NaN,6.423000,4.473000,NaN,66.000000,66.000000,...,189.0,6.655561,64.486000,NaN,NaN,56.937760,4.1,NaN,NaN,NaN
4,4,11.780000,NaN,NaN,NaN,7.898000,1.617000,NaN,99.000000,99.000000,...,18.0,2.289492,78.458000,NaN,NaN,104.612263,NaN,NaN,NaN,NaN

In [ ]:
#drop the empty columns

df = cleaned_df.drop(['Unnamed: 0', 'Country Name', 'Country Code', '2019'], axis =1)
#drop
#df.drop(['B', 'C'], axis=1)

In [ ]:
cleaned_df.shape
cleaned_df.head()

In [ ]:
df.head()

In [ ]:
cleaned_df = cleaned_df.reset_index(drop = True)

In [ ]:
cleaned_df.head()

In [ ]:
cleaned_df = cleaned_df.drop(['Unnamed: 0'], axis =1)

In [ ]:
cleaned_df

In [ ]:
#cleaned_df['mean'] = cleaned_df.iloc[:,4:].mean(axis=1)

In [ ]:
 # life expectancy SP.DYN.LE00.IN
#life_expectancy_mean = cleaned_df[cleaned_df["Indicator Code"] == "SP.DYN.LE00.IN"]

In [ ]:
df = cleaned_df.transpose()

In [ ]:
df.head()

In [ ]:
plt.hist(life_expectancy_mean["mean"])