In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
cleaned_df = pd.read_csv("cleaned_df.csv")

In [9]:
df = cleaned_df.drop(['Unnamed: 0', 'Country Name', 'Country Code', '2019'], axis =1)
#drop
#df.drop(['B', 'C'], axis=1)

In [7]:
cleaned_df.shape
cleaned_df.head()

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,2019
0,0,Aruba,ABW,"Incidence of HIV, all (per 1,000 uninfected po...",SH.HIV.INCD.TL.P3,NaN
1,1,Aruba,ABW,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,NaN
2,2,Aruba,ABW,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN
3,3,Aruba,ABW,Mortality caused by road traffic injury (per 1...,SH.STA.TRAF.P5,NaN
4,4,Aruba,ABW,Total alcohol consumption per capita (liters o...,SH.ALC.PCAP.LI,NaN

In [10]:
df.head()

                                      Indicator Name     Indicator Code
0  Incidence of HIV, all (per 1,000 uninfected po...  SH.HIV.INCD.TL.P3
1               Death rate, crude (per 1,000 people)     SP.DYN.CDRT.IN
2                   Hospital beds (per 1,000 people)     SH.MED.BEDS.ZS
3  Mortality caused by road traffic injury (per 1...     SH.STA.TRAF.P5
4  Total alcohol consumption per capita (liters o...     SH.ALC.PCAP.LI

In [ ]:
cleaned_df = cleaned_df.reset_index(drop = True)

In [ ]:
cleaned_df.head()

In [ ]:
cleaned_df = cleaned_df.drop(['Unnamed: 0'], axis =1)

In [ ]:
cleaned_df

In [ ]:
#cleaned_df['mean'] = cleaned_df.iloc[:,4:].mean(axis=1)

In [ ]:
 # life expectancy SP.DYN.LE00.IN
#life_expectancy_mean = cleaned_df[cleaned_df["Indicator Code"] == "SP.DYN.LE00.IN"]

In [ ]:
df = cleaned_df.transpose()

In [ ]:
df.head()

In [ ]:
plt.hist(life_expectancy_mean["mean"])